[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TestAnaAPP"]
	path = TestAnaAPP
	url = https://github.com/jiangyouxiang/testanaapp
